pandas
langchain
openai
sentence-transformers==2.2.2
ctransformers== 0.2.5
huggingface_hub
flask
python-dotenv
PyPDF2
langchain_community
reportlab
langchain_openai
pinecone-client


-e .
sentencepiece>=0.2.1 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.46.2 # not directly required, pinned by Snyk to avoid a vulnerability