pandas
langchain
openai
sentence-transformers==2.2.2
ctransformers== 0.2.5
huggingface_hub
flask
python-dotenv
PyPDF2
langchain_community
reportlab
langchain_openai
pinecone-client


-e .
filelock>=3.20.3 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability